<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmuebles</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-4">

    <!-- Botón volver atrás -->
    <button class="btn btn-secondary mb-3" onclick="goBack()">
        ← Volver atrás
    </button>

    <!-- Sección central -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Disponibilidades</h3>

        <!-- Botón añadir -->
        <a class="btn btn-secundary" href="@{/propietario/{id}/inmueble/disponibilidad/añadir-disponibilidad}">
            +
        </a>
    </div>

    <!-- Cards -->
    <div class="row g-3">

        <!-- Card -->
        <div class="col-md-4" th:each="disponibilidad: ${disponibilidadesInmueble}">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${disponibilidad.fechaInicio} + ' - '+ ${disponibilidad.fechaFin}"></h5>
                    <h6 class="card-text" th:text="${disponinilidad.precio} + ' €'">
                    </h6>
					<th:block th:if="${disponibilidad.directa}">
						<p class="card-text">Reserva Inmediata</p>
					</th:block>
					<th:block th:if="${!disponibilidad.directa}">
						<p class="card-text">Reserva No Inmediata</p>
					</th:block>
					<h7 class="card-text" th:text="${#strings.capitalize(#strings.toLowerCase(disponibilidad.politicaCancelacion))}"></h7>
					<form method="post">
	                    <div class="d-flex justify-content-between">
							<input type="hidden" name="id" th:value="${disponibilidad.id}">
	
	                        <button class="btn btn-danger btn-sm" type="submit" th:formaction="@{/propietario/baja-inmueble}">
	                            Eliminar disponibilidad
	                        </button>
	                    </div>
					</form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>