<!DOCTYPE HTML>
<htlm xmlns:th = "https://www.thymeleaf.org">
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body class="auth-body">
		<div class="form-div">
			<h1 th:text="'Añadir Disponibilidad a ' +${inmueble.direccion}"></h1>
			<form th:action="@{/inmueble/{id}/add-availability(id=${inmueble.id})}" th:object="${disponibilidad}" method="post" class="form-grid">
				<div class="form-section">
					<label for="sd">Fecha de Inicio<br></label>
					<input type="text" th:field="*{fechaInicio}" id="sd"/>
					<br>
					<label for="ed">Fecha de Fin<br></label>
					<input type="text" th:field="*{fechaFin}" id="ed"/>
					<br>
					<label for="price">Precio<br></label>
					<input type="number" th:field="*{passwd}" id="price"/>
					<br>
					<label for="rd">Reserva Directa<br></label>
					<input type="checkbox" th:field="*{directa}" id="rd"/>
					<br>
					<button type="submit">Añadir disponibilidad</button>
				</div>
			</form>
		</div>
	</body>
</html>